<ul>
  <li  *ngFor="#child of children | nodeSearch"  pDraggable="dd" (onDragEnd)='onDragEnd($event,child)' (onDragStart)='onDragStart($event,child)'>
    <div class='tree-node' pDroppable="dd" (onDrop)='onDrop($event,child)'>
      <i  class='fa' *ngIf='hasChevronDown(child)' [ngClass]="customClasses.chevronDownIcon || 'fa-chevron-down'" (click)='toggle(child)'></i>
      <i  class='fa' *ngIf='hasChevronRight(child)' [ngClass]="customClasses.chevronRightIcon || 'fa-chevron-right'" (click)='toggle(child)'></i>
      <editable-text [node]="child"></editable-text>
      <i (click)='deleteNode(child)' [ngClass]="customClasses.minusIcon || 'fa fa-minus-circle pull-right'"></i>
      <i (click)='addNewNode(child)' [ngClass]="customClasses.plusIcon || 'fa fa-plus-square pull-right'"></i>
    </div>
    <div *ngIf="child.expanded">
      <tree-node [custom-classes]='customClasses' [children]='child.subNodes'></tree-node>
    </div>
  </li>
</ul>

